/* general properties starts here */
body{
    font-family: 'Roboto', sans-serif;
}

/*
.bg-white{
    background: linear-gradient(90deg, #61234e 0%, #ff5858 100%), #ff5858;
}
*/

.trans-btn{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    background: transparent;
    padding: 20px 35px;
    color: #fff;
    border: 1px solid #fff;
}
.trans-btn:hover{
    background: transparent;
    color: #fff2a3;
    border: 1px solid #fff2a3;
}
.submit-btn, .clear-btn{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 12px 24px;
}
.submit-btn{
    background: #61234e;
    color: #eee;
    margin-right: 10px;
}
.submit-btn:hover{
    color: #eee;
}
.services,
.projects,
footer,
.about,
.services-page,
.blog-page,
.post-content,
.post-edit,
.dashboard,
.post-create
{
    padding-top: 100px;
    padding-bottom: 100px;
}
.services h2,
.projects h2,
.resume h2,
footer h2
{
    font-size: 48px;
}
.services p, .projects p, .resume p, footer p{
    font-size: 16px;
}
/* general properties ends here */

.social{
    background: #333;
    color: #fff;
}

.navbar{
    padding: 1.0rem;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* banner starts here */
.banner{
    background: linear-gradient(90deg, rgb(25, 47, 61) 0%, #3d1938 100%);
    padding: 100px 0 200px 0;
}
.banner h1{
    font-size: 46px;
    text-transform: capitalize;
    color: #fff;
}
.banner p{
    color: #e8e8e8;
    font-size: 18px;
    font-weight: 300;
}
/* banner ends here */

/* passion starts here */
.passion{
    padding-top: 100px;
    padding-bottom: 100px;
}
.passion h2{
    color: #212121;
    font-size: 46px;
}
.passion p{
    color: #3a3a3a;
    font-size: 16px;
}
/* passion ends here */

/* services starts here */
.services, footer{
    background: #212121;
}
.services h2{
    color: #eee;
    margin-bottom: 70px;
}
.services h3{
    color: #fff2a3;
    font-size: 14px;
    text-transform: uppercase;
}
.services p{
    color: #ddd;
}
/* services ends here */

/* projects starts here */
.projects-cont{
    padding-top: 30px;
}
.red-btn{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #212121;
    background: transparent;
    border: 1px solid #ff5858;
    padding: 20px 30px;
    margin-top: 50px;
    border-radius: 0;
}
.red-btn:hover{
    background: transparent;
    color: #212121;
    border: 1px solid #ff5858;
}
/* projects ends here */
.resume{
    padding-bottom: 130px;
}
/* footer starts here */
footer h2{
    color: #eee;
    margin-bottom: 30px;
}
footer p{
    color: #6d6d6d;
    font-size: 12px;
}
/* footer ends here */

/*
======================
*** PAGES ***
======================
*/
.dashboard .card-header span{
    line-height: 2.6;
}
.dashboard .card-header a{
    float: right;
    font-size: 12px;
    color: #666;
    background:#fff;
    border: 1px solid #f1f1f1;
}
.dashboard .edit-btn{
    float: right;
    color: #61234e;
    font-size: 12px;
}
.dashboard th{
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}
.dashboard .card-header, .dashboard .card-body{
   padding: 0.75rem;
}
.blog-page{
    padding-top: 50px;
    padding-bottom: 50px;
}
.blog-page h1, .dashboard h5{
    font-size: 18px;
    font-weight: 300;
    color:#666;
}
.blog-page h1{
    margin-bottom: 1.5rem;
}
.blog-page .card{
    margin-bottom: 20px;
}
.blog-page .question{
    font-weight: 700;
    font-size: 14px;
}
.blog-page .question a{
    color: #3a3a3a;
}
.blog-page .card p{
    font-size: 14px;
}
.blog-page .card small{
    font-size: 11px;
    color: #999;
}
.profile{
    padding-top: 20px;
    padding-bottom: 50px;
}
.profile-header{
    width: 100%;
    background: #f4f4f4;
    padding: 7px;
    border-radius: 3px;
}
.profile-links{
    margin-top: 7px;
}
.profile-links ul, .projects ul{
    list-style: none;
    padding: 0;
    padding-left: 0px;
    margin: 0;
    background:#e1e1e1;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.profile-links ul li, .projects ul li{
    float: left;
    margin-right: 20px;
}
.profile-links ul li a, .projects ul li a{
    text-decoration: none;
    color:#212121;
    font-weight: bold;
    font-size: 12px;
}
.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profile-uname, .profile-email{
    margin-left: 10px;
    font-size: 12px;
    color:#777;
    text-transform: capitalize;
    font-style: italic;
}
.profile-body{
    margin-top: 30px;
}
.profile-body .card-body{
    font-size: 12px;
}
.project-group{
    height: 92px;
}
.projects ul{
    background: #fff;
    padding-left: 0;
}
.projects ul li{
    border-right: 1px solid #ced4da;
    margin-right: 0;
    padding: 20px 30px;
}
.projects ul li:hover{
    box-shadow: 0 4px 10px #ced4da;
    border: none;
    border-bottom: 2px solid #ff5858;
}
.projects ul li a{
    font-weight: normal;
    color: #999;
}
.project-group{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#ced4da;
}